include /views/mixins/containers.jade
+generic-container('profile-info')
  .row
    .col-sm-3
      p [TODO] profile pic goes here
    .col-xs-9
      form(role="form")
        .form-group.form-horizontal.profile-info-line
          label.col-sm-2.control-label Email
          .col-sm-9
            input.form-control(type="email" placeholder="josiah_carberry@brown.edu")
        .form-group.form-horizontal.profile-info-line
          label.col-sm-2.control-label Phone
          .col-sm-9
            input.form-control(type="phone" placeholder="(xxx)-xxx-xxxx")
        .form-group.form-horizontal.profile-info-line
          label.col-sm-2.control-label Location
          .col-sm-9
            input.form-control(type="text" placeholder="Dorm/Address")
