<!-- items-->	
<div id="content">	
	<div class="row">
		
		<div id="item" class="col-md-4" ng-controller="StoreController as store">
			<a href="#"><img class="clothes" src="images/couch.jpg" alt="couch" height="250" width="230"></a>
			<h3 class="item-name">{{store.product.name}}</h3>
			<p class="price">${{store.product.price}}</p>
		</div>	
		
		<img class="fav" src="images/icons/thumbs-white.png" alt="thumbs" height="250" width="230"></a>

		<div id="item" class="col-md-4">
		<a href="#"><img class="clothes" src="images/couch.jpg" alt="couch" height="250" width="230"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	

		<div id="item" class="col-md-4">
		<a href="#"><img class="clothes" src="images/couch.jpg" alt="couch" height="250" width="230"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	
	</div>
	<div class="row">
		<div id="item" class="col-md-4" ng-controller="StoreController as store">
			<a href="#"><img class="clothes" src="images/couch.jpg" alt="couch" height="250" width="230"></a>
			<h3 class="item-name">{{store.product.name}}</h3>
			<p class="price">${{store.product.price}}</p>
		</div>	

	    <script type="text/javascript" src="angular.min.js"></script>
 		<script type="text/javascript" src="app.js"></script>

		<div id="item" class="col-md-4">
		<a href="#"><img class="clothes" src="images/couch.jpg" alt="couch" height="250" width="230"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	

		<div id="item" class="col-md-4">
		<a href="#"><img class="clothes" src="images/couch.jpg" alt="couch" height="250" width="230"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	
	</div>
</div>
