<div class="dropdown">
	<button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
		Price
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
		<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Date Added</a></li>dropdown-menu
	</ul>
</div>


<!-- items-->	
<div id="content">	
	<div class="subcats" class="col-lg-3" height="100%">
		<div class="checkbox">
		    <label class="subcat">
		      <input type="checkbox"> desks
		    </label>
		 </div>
		<div class="checkbox">
		    <label class="subcat">
		      <input type="checkbox"> beds
		    </label>
		 </div>
		 <div class="checkbox">
		    <label class="subcat">
		      <input type="checkbox"> tables
		    </label>
		</div>
		<div class="checkbox">
		    <label class="subcat">
		      <input type="checkbox"> chairs
		    </label>
		</div>
		<div class="checkbox">
		    <label class="subcat">
		      <input type="checkbox"> decorative
		    </label>
		</div>
		<!--
		<h3 class="subcat"><a href="#">desks</a></h3></h3>
		<h3 class="subcat"><a href="#">beds</a></h3></h3>
		<h3 class="subcat"><a href="#">tables</a></h3></h3>
		<h3 class="subcat"><a href="#">chairs</a></h3></h3>
		<h3 class="subcat"><a href="#">decorative</a></h3></h3> -->
	</div>

		<div id="item" class="col-lg-3" ng-controller="StoreController as store">
			<a href="#"><img class="subcat-img" src="images/couch.jpg" alt="couch" height="280" width="250"></a>
			<h3 class="item-name"> {{store.product.name}}</h3>
			<p class="price">${{store.product.price}}</p>
		</div>	

	    <script type="text/javascript" src="angular.min.js"></script>
 		<script type="text/javascript" src="app.js"></script>

		<div id="item" class="col-lg-3">
		<a href="#"><img class="subcat-img" src="images/couch.jpg" alt="couch" height="280" width="250"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	

		<div id="item" class="col-lg-3">
		<a href="#"><img class="subcat-img" src="images/couch.jpg" alt="couch" height="300" width="250"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	


		<div id="item" class="col-lg-3" ng-controller="StoreController as store">
			<a href="#"><img class="subcat-img" src="images/couch.jpg" alt="couch" height="280" width="250"></a>
			<h3 class="item-name"> {{store.product.name}}</h3>
			<p class="price">${{store.product.price}}</p>
		</div>	

	    <script type="text/javascript" src="angular.min.js"></script>
 		<script type="text/javascript" src="app.js"></script>

		<div id="item" class="col-lg-3">
		<a href="#"><img class="subcat-img" src="images/couch.jpg" alt="couch" height="280" width="250"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	

		<div id="item" class="col-lg-3">
		<a href="#"><img class="subcat-img" src="images/couch.jpg" alt="couch" height="280" width="250"></a>
		<h3 class="item-name"> Leather Love Seat </h3>
		<p class="price">$50</p>
		</div>	
</div>
