link(href='/stylesheets/shop.css', rel='stylesheet')

include /views/partials/header.jade

body
	include /views/partials/nav/top-navbar.jade
	include /views/partials/nav/navbar.jade

	block content

	include /views/partials/footer.jade

script(src='js/shop/run-last.js', type='text/javascript')
