.masthead
  #topContainer.container-fluid
    h2#logo
      a(href='/shop')
        img(src='/images/logo.png')
    #navbarCon.nav.navbar.navbar-default
      #navContainer.nav-stacked
        ul.nav.navbar-nav
          li
            a.navCategory(href='/shop/apparel') APPAREL
          li
            a.navCategory(href='/shop/household') HOUSEHOLD
          li
            a.navCategory(href='/shop/contact') TECHNOLOGY
          li
            a.navCategory(href='/shop/contact') TEXTBOOKS
          li
            a.navCategory(href='/shop/contact') OTHER
